<p id="notice"><%= notice %></p>

<h1>List of Tasks &nbsp;&nbsp; </h1>
<div style="border-bottom:2px solid black;width:720px"></div>
<br/>
<%= link_to 'New Task', new_task_path %>
<h3>Completed Tasks</h3>
<table border=1 cellspacing=0>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Date</th>
      <th>Priority</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.done.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><b>Date: </b><%= task.date.strftime("%A %b %d,%Y") %>
        <br/>
        <b>Time: </b><%= task.date.strftime("%I:%M:%S %p") %>
        </td>
        <td><%= task.priority %></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Details', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task),method: :put %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Pending Tasks</h3>
<table border=1 cellspacing=0>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Date</th>
      <th>Priority</th>
      <th>Description</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.pending.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><b>Date: </b><%= task.date.strftime("%A %b %d,%Y") %>
        <br/>
        <b>Time: </b><%= task.date.strftime("%I:%M:%S %p") %>
        </td>
        <td><%= task.priority %></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Details', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task),method: :put %></td>
        <td><%= link_to 'Mark as Done' , done_task_path(task),method: :put %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>


<br>


