<h3> A simple Rails application to manage your to do tasks</h3>
<br/>
<h4>Features</h4>
<ul>
<li>Create to do tasks with priority</li>
<li>Edit and delete tasks</li>
<li>Mark a task as done</li>
</ul>

<h4>Development time(without prior ruby knowledge)</h4>
<ul>
<li>One Week</li>
</ul>



