
#menu{width:100%;}

#menu ul {list-style-type:none; margin:0;padding:0 ;margin-bottom:70px}


#menu ul li { display:inline;float:left;}


#menu{margin:0;padding:0;clear:right;}

#menu a:link, #menu a:visited{display: block;
    width: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #21bf99;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover, #menu a:active {
    background-color: #21ffaa;
}

a:link,a:visited{color:#000}
a:hover{background-color:#21bf99}

body,html {
  
  margin:auto 130px auto;

padding:0;
}



