<!DOCTYPE html>
<html lang="en">

<head>

  <title>A Simple To Do Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
</head>
<body>
<section id="menu">
<h1>A Simple Rails Application</h1>
<hr/>
<ul>

<li><a href="/">Home</a></li>
<li><a href="/tasks">Tasks</a></li>
<li><a href="/home/about">About</a></li>



</ul>

</section>
<section id="content">
<%= yield %>
</section>
</body>
</html>
